.landing {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background: url("/images/background-1.jpeg") no-repeat center center fixed;
	background-size: cover;
}

.landing-content {
	width: 90%;
	text-align: center;
	margin: 0 auto;
}
.landing-swap {
	margin: 0 auto;
}
@media screen and (min-width: 642px) {
	/* .landing {
		width: 680px;
		margin: 0 auto;
	} */
	.landing-swap {
		width: 600px;
	}
}
