.landing-content {
	text-align: center;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding-bottom: 100px;
	background: url("/images/background-1.jpeg") no-repeat center center fixed;
	background-size: cover;
	height:100vh;
	overflow-x: hidden;
}

.landing-swap {
	margin: 0 auto;
}
