.nav-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 0 3px 6px 0 rgba(128, 128, 128, 0.164);
	z-index: 2;
}
.nav-img-container {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border-radius: 15px;
}
.nav-brand {
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.nav-search {
	margin-left: 30px;
}
.nav-icons {
	min-width: 150px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
}

.nav-item {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.nav-item span {
	display: none;
}

.nav-item:active {
	transform: translateY(1px);
}
.nav-disabled {
	color: rgba(128, 128, 128, 0.5);
	cursor: unset;
}
.nav-alert {
	position: absolute;
	top: -1px;
	right: 0px;
	color: orange;
}

@media screen and (min-width: 600px) {
	.nav-item {
		margin: 0 10px;
	}
	.nav-item span {
		display: block;
		font-size: 14px;
		color: rgba(0, 0, 0, 0.699);
	}

	.nav-alert {
		top: -1px;
		right: 8px;
	}
	.gone {
		display: none;
	}
}
