.card-info-alter {
	color: rgba(0, 0, 0, 0.45);
}

.user-container {
	display: flex;
	flex-direction: row;
	padding: 10px;
	border-bottom: solid 0.5px rgb(0, 0, 0, 0.2);
	position: relative;
}
.user-entry {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	width: 25%;
	border-radius: 5px;
	position: relative;
}
.user-status {
	position: absolute;
	top: 0;
	right: 0;
}

.user-occupation {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px 10px 0px 0px;
}
.online {
	color: #00bcd4;
}
.driver {
	border: solid 1px #00bcd4;
}
.thumbnail-container {
	overflow: hidden;
	border-radius: 50%;
}
.user-avatar {
	width: 35px;
	height: 35px;
}
.title-container {
	display: flex;
	flex-direction: row;
	padding: 10px;
	align-items: center;
	border-bottom: solid 0.5px rgb(0, 0, 0, 0.2);
}
.title-bar {
	padding-left: 25px;
	font-weight: bold;
}

.requestBtn:disabled,
.cancelBtn:disabled {
	background-color: rgba(105, 105, 105, 0.048);
	color: lightgrey;
}
.requestBtn {
	background-color: #00bcd4;
}
.cancelBtn {
	background-color: #f4511e;
}

.card-info-container {
	width: 100%;
	border: 0;
	border-radius: 5px;
	box-shadow: 2px 2px 4px 2px rgba(16, 36, 94, 0.2);
	background-color: white;
}

.card-info-direction-container {
	display: flex;
	flex-direction: row;
	padding: 10px 10px 20px 50px;
	align-items: center;
	border-bottom: dotted 1px rgba(128, 128, 128, 0.199);
}

.card-info-direction-text:first-of-type {
	margin-bottom: 50px;
}
.card-info-direction-text p {
	padding: 0;
	margin: 0;
	margin-left: 30px;
	text-transform: capitalize;
	font-weight: bold;
	display: inline-block;
}
.card-info-direction-text p:nth-of-type(2) {
	color: rgba(0, 0, 0, 0.584);
}

.line-container {
	position: relative;
}
.vertical {
	border: none;
	border-right: 5px solid rgba(255, 167, 38, 0.41);
	height: 100px;
	transform: translateX(-2px);
	padding: 0;
	margin: 0;
	white-space: 0;
}

.dot {
	position: absolute;
	height: 10px;
	width: 10px;
	background-color: #29b4d6;
	border-radius: 50%;
	bottom: 0;
	left: -4px;
	z-index: 1;
}

.dot:first-of-type {
	position: absolute;
	height: 10px;
	width: 10px;
	background-color: #29b4d6;
	border-radius: 50%;
	top: -1px;
	left: -4px;
}

.journey-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px 20px 20px 40px;
	font-weight: bold;
}
