.overlay-container {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.295);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.overlay-message {
	background-color: white;
	padding: 20px 20px 20px 20px;
	min-width: 320px;
	max-width: 500px;
	margin: auto auto;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1001;
	overflow-y: scroll;
}

@media screen and (min-width: 412px) {
	.overlay-message {
		background-color: white;
		padding: 20px 20px 20px 20px;
		min-width: 320px;
		max-width: 500px;
		margin: auto auto;
		position: fixed;
		height: 700px;
		top: 50px;
		left: 0;
		right: 0;
		z-index: 1001;
		overflow-y: scroll;
	}
}

.overlay-nav {
	background-color: white;
	max-width: 500px;
	/* margin: auto auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px;
	z-index: 0; */
}
