.match-board-container {
	padding-bottom: 5rem;
}
.match-body {
	/* display: flex; */
	width: 95%;
	margin: 0 auto;
	/* align-items: flex-start; */
	/* justify-content: space-around; */
}
.match-body-left,
.match-body-right {
	display: block;
}
.match-body-left {
	min-height: 300px;
}

@media screen and (min-width: 800px) {
	.match-body {
		display: flex;
	}
	.match-body-left {
		width: 60%;
	}
	.match-body-right {
		width: 35%;
		padding-left: 2rem;
	}
}
